@{
    ViewData["Title"] = "Home Page";
    int length = 10;
}

@*@Html.Partial("~/Views/Partials/_welcome.cshtml")*@
<partial name="~/Views/Partials/_welcome.cshtml" />

<div class="row">
    <div class="col-lg-6">
        <partial name="~/Views/Partials/_welcome.cshtml" />
    </div>
    <div class="col-lg-6">
        <partial name="~/Views/Partials/_welcome.cshtml" />
    </div>
</div>
