
<h1>
    This is from Default Controller of index action
</h1>

<div class="text-center">
    @for (int i = 0; i < 10; i++)
    {
    <h1 class="display-4">Welcome Solid CSharp Journey</h1>
    }
  </div>