
<div class="row">
   <form method="post" action="/class/create">
       <div class="form-group">
           <label class="control-label">Name</label>
           <input type="text" class="form-control" name="Name" />
       </div>
        <div class="form-group">
           <label class="control-label">Description</label>
           <textarea class="form-control" name="Description"></textarea>
       </div>
       <div class="form-group">
           &nbsp;
       </div>
        <div class="form-group">
            <a href="/class/index" class="btn btn-primary">Back to Index</a>
           <input type="submit" value="Create" class="btn btn-success" />
           <input type="reset" value="Reset" class="btn btn-danger" />
       </div>
   </form>
</div>